@import url('https://fonts.googleapis.com/css2?family=Jura&family=Koulen&family=Poppins:wght@200;300;900&display=swap');

.App {
  font-family: 'Jura', sans-serif;
  font-family: 'Koulen', cursive;
  font-family: 'Poppins', sans-serif;

}